@font-face {
    font-family: logo-text-font;
    src: url(./HammersmithOne-Regular.ttf);
}

html, button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: whitesmoke;
}

.logo-section {
    width: 30%;
    height: 100%;
    background-image: url('./img/bg.jpg');
    background-size: cover;
}

.logo-text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.50);
    height: 10%;
    width: 100%;
    position: relative;
    top: 20%;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.logo-text {
    font-family: logo-text-font, 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: Coral;
}

.logo{
    max-height: 80%;
    margin-right: 8px;
    padding-bottom: 8px;
}

.form-section > p {
    font-size: 18px;
    font-weight: 600;
    margin: 2rem 2rem 0 2rem;
}

.create-acc-btn {
    cursor: pointer;
    max-width: 248px;
    height: 48px;
    margin: 2rem 2rem 0 2rem;
    border: none;
    background-color: burlywood;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
}

.create-acc-btn:hover {
   filter: brightness(95%);
}

.login-text {
    cursor: pointer;
    color: burlywood;
    font-weight: 700;
}

.form-box {
    background-color: white;
    height: 50%;
    width: 100%;
    margin-top: 48px;
    box-shadow: 1px 10px 23px 3px rgba(0,0,0,0.47);
    -webkit-box-shadow: 1px 10px 23px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: 1px 10px 23px 3px rgba(0,0,0,0.47);
}

.form-box > h1 {
    margin-left: 2rem;
}

.sign-up-form {
    width: 100%;
    height: 70%;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
}

input {
    border-color: #E5E7EB;
    border-width: 1px;
    border-radius: 5px;
    height: 24px;
    width: 248px;
}

input:hover {
    border-color: black;
}

input:focus {
    border-color: lightskyblue;
    border-width: 1px;
    outline: none;
}

label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 4px;
}

.form-left, .form-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-left {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.form-right {
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.form-left > div, .form-right > div {
    display: flex;
    flex-direction: column;
}